<?php

use yii\bootstrap\ActiveForm;

?>

<div class="body-content">
    <div class="row">
        <div class="col-lg-12">
            {% set form = active_form_begin({
            'id': 'updateDepositForm',
            'options': {
                'class': 'form-horizontal'
            }
            }) | raw %}

                {{ Html.activeHiddenInput(facebookLoginForm, 'fbUserId') | raw }}

                {{ form.field(facebookLoginForm, 'email').textInput({
                    'disabled' : 'disabled'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'name').textInput({
                    'disabled' : 'disabled'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'password').passwordInput({
                    'placeholder' : 'Enter password here...'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'password_repeat').passwordInput({
                    'placeholder' : 'Enter password here again...'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'street').textInput({
                    'placeholder' : 'Enter street here...'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'zip').textInput({
                    'placeholder' : 'Enter zip here...'
                }) | raw }}
                {{ form.field(facebookLoginForm, 'city').textInput({
                    'placeholder' : 'Enter city here...'
                }) | raw }}

            <div class="form-group">
                <div class="col-lg-12 text-center">
                    {{ Html.submitButton('Create', {
                        'class': 'btn btn-primary',
                    }) | raw }}
                </div>
            </div>

            {{ active_form_end() }}
        </div>
    </div>
</div>