<div class="site-index">
    <div class="row">
        <div class="col-lg-12">
            {% if (app.user.isGuest) %}
                <a href="{{ fbLoginUrl  }}">Sign in via Facebook</a>
            {% else %}
                Hello, {{ app.user.identity.name }}.
                Please, <a href="{{ url(['site/logout']) }}">log out</a> to login via Facebook.
            {% endif %}
        </div>
    </div>
</div>
